<table class="people">
	{% if legend %}
		<caption class='legend'>
			<h3>Status</h3>
			<abbr title="Do Not Call">DNC</abbr>
			<abbr title="Not in Service">NIS</abbr>
			<abbr title="No Answer">NH</abbr>
		</caption>
	{% endif %}
	<thead>
		{% set column_count = 4 %}
		<tr>
			<th class='name'>Name</th>	
			{% if showAddress|default(false) %}
				<th class='address'>Address</th>
				{% set column_count = column_count + 1 %}				
			{% endif %}					
			<th class='unit'>Unit</th>
			<th class='postcode'>Post Code</th>
			<th class='phone'>Phone</th>
			{% if printview|default(true) %}
				{% set column_count = column_count + 1 %}
				<th class='status'>Status</th>
				<th class="notes">Notes</th>
			{% endif %}
			{% if can_delete|default(false) and p.published %}
				<th class='actions'></th>
			{% endif %}

		</tr>
	</thead>
	<tbody>

{# By default, we only show published people #}
	{% for p in people if p.published == is_published|default(true) %}
		<tr class='person-{{p.id}} {% if selected_pid == p.id %}selected{% endif %}' >
			
			<td class="name">
				{% if printview|default(true) %}
					{{ p.name }}
				{% else %}
					<a href="{{ path_for('person_edit', {id : p.id } ) }}">{{ p.name }}</a>
				{% endif %}
			</td>
			{% if showAddress|default(false) %}
				<td><a href="{{ path_for('building', { id : p.building_id }) }}">{{ p.address }}</a></td>
			{% endif %}
			<td class="unit">{{ p.unit }}</td>
			<td class="postcode">{{ p.postcode }}</td>
			<td class="phone">{{ p.number }}</td>
			{% if printview|default(true) %}
				{% set column_count = column_count + 2 %}	
				<td class='status'></td>
				<td class="notes"></td>
			{% endif %}
			{# User must have Delete privilege AND post must be published #}
			{% if can_delete|default(false) and p.published %}



{# 				<form action='{{ path_for('person', { id : p.id } )}}' method='POST'>
					<input type='hidden' name="_METHOD" value="PUT">
					<input type='hidden' name="person[published]" value="FALSE">
					<input type='submit' class="button button-confirm" name='form_person_unpublish' value="Delete" onclick="return ');">
				</form> #}


				{% set column_count = column_count + 1 %}	
				<td class="actions">
					<a href="{{ path_for('person', { id : p.id } ) }}"
						data-id='{{ p.id }}' 
						data-entitypath='people' 
						data-name='{{ p.name }}'
						data-method='put' >remove</a>
				</td>
			{% endif %}

		</tr>
	{% else %}
		<tr>
			<td colspan='{{ column_count }}'><p>No People listed in building</p></td>	
		</tr>
	{% endfor %}
	</tbody>
	{% if can_add %}
		<tfoot>
			<tr>
				<td colspan="{{ column_count }}">
					{% include 'partials/forms/form_person.twig' %}
				</td>
			</tr>
		</tfoot>
	{% endif %}
</table>