<p>{{ people|length }} people </p>
<table class="people">
	{% if legend %}
		<caption class='legend'>
			<h3>Status</h3>
			<abbr title="Do Not Call">DNC</abbr>
			<abbr title="Not in Service">NIS</abbr>
			<abbr title="No Answer">NH</abbr>
		</caption>
	{% endif %}
	<thead>
		{% set column_count = 4 %}
		<tr>
			<th class='name'>Name</th>	
			{% if showaddress %}
				<th class='address'>Address</th>
				{% set column_count = column_count + 1 %}				
			{% endif %}					
			<th class='unit'>Unit</th>
			<th class='postcode'>Post Code</th>
			<th class='phone'>Phone</th>
			{% if printview %}
				{% set column_count = column_count + 1 %}
				<th class='actions'>Status</th>
				<th class="notes">Notes</th>
			{% endif %}

		</tr>
	</thead>
	<tbody>
	{% for p in people %}
		<tr data-id='{{p.id}}'>
			
			<td class="name">
				<a href="{{ path_for('person_edit', {id : p.id } ) }}">
				{{ p.name }}</a></td>
			{% if showaddress %}
				<td><a href="{{ path_for('building', { id : p.building_id })}}">{{ p.address }}</a></td>
				
			{% endif %}
			<td class="unit">{{ p.unit }}</td>
			<td class="postcode">{{ p.postcode }}</td>
			<td class="phone">{{ p.number }}</td>
			{% if printview %}
			{% set column_count = column_count + 2 %}
				
			<td class='actions'></td>
			<td class="notes"></td>
			{% endif %}
		</tr>
	{% else %}
		<tr>
			<td colspan='{{ column_count }}'><p>No People listed in building</p></td>	
		</tr>
	{% endfor %}
	{% if not printview %}
		<tfoot>
			<tr>
				<td colspan="{{ column_count }}">
					{% include 'partials/forms/form_person.twig' %}
					
				</td>
			</tr>
		</tfoot>
	{% endif %}
	</tbody>
</table>