{% extends 'building.twig' %}

{% block title "Edit Building: " ~ building.address %}
{% block actions %}
	<a class="button" href="{{ path_for('building', { id : building.id }) }}">« View Building</a>
{% endblock actions%}

{% block content %}
	<form action='{{ path_for('building', { id: building.id } )}}' method='POST'>
		<h2>{{ building.address }}</h2>
		<label for='address'><strong>Address</strong></label><br>
		<input type='hidden' name='territory_id' value="{{ building.territory_id }}">
		<input class="inline" placeholder='2414 Mattaios Way' autofocus type='text' name='address' value='{{ building.address }}' > <input type='submit' value='Update Building' name='form_edit_building'>
		<input type="hidden" name="_METHOD" value="PUT"/>
	</form>

	{% set can_delete = true %}
	{% include 'partials/people_table.twig' %}
{% endblock content %}

{% block after_footer %}

<script type="text/javascript">
	$( document ).ready( function(){
		
		$('a[data-method]').on('click', function(e){
			e.preventDefault();
			$row = $('.person-' + this.dataset.id );
			$row.addClass('selected');
			if ( this.dataset.confirmMessage && confirm( this.dataset.confirm ) ){

				$.ajax({
					url : "/" + this.dataset.entitypath + "/" + this.dataset.id,
					contentType : 'application/json',
					data : { 'published' : false },
					success : function( responseData , status, request ){
						console.log( data );
						$row.fadeOut().remove();
					},
					method : this.dataset.method,
					dataType : 'json',
					error : function( data ){ 
						console.log( data.responseText );
						$row.removeClass('selected');
					}
				});
			} else {
				$('#person-' + this.dataset.id ).removeClass('selected');
			}
		});
	});
</script>

{% endblock %}