<!doctype html>

<html lang="en">
<head>
  {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}FourOneOne DB{% endblock title %} | {% block congregation %}Clark{% endblock %} Congregation</title>
    <meta name="description" content="FourOneOne">
    <meta name="author" content="Gary Armstrong">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/master.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/global.js"></script>
  {% endblock head %}
</head>

<body class='{% block body_class 'page' %}'>

  {% include 'partials/flash.twig' %}

  <header>
    <h1 class="site-title"><span>{{ block("congregation") }} Congregation</span>FourOneOne DB</h1>
    {% set navigation_items = [
      ['home', 'Home'], 
      ['territories', 'Territories'], 
      ['buildings', 'Buildings'],
      ['people', 'People'],
    ] %}

    {% set active_page = active_page|default('home') %}
    {% block navigation %}
		<nav>
			{% for item in navigation_items %}
				<a href="{{ path_for( item[0] ) }}" {% if item[0] == active_page %}class='active'{% endif %} >
					{{ item[1]}} 
				</a>
			{% endfor %}
		</nav>
    {% endblock navigation%}
  </header>

{#   <div class="emerson">
    {% block hero %}<img src="/images/emerson.jpg" alt="Picture of Ralph Waldo Emerson">{% endblock hero %}
  </div> #}

  <main>
    <nav class='actions'>
      {% block actions %}
      {% endblock actions %}
    </nav>
  	<div class='content_before'>
  		{% block content_before '<strong>Clark Congregation</strong>' %}
  	</div>

    {% block content %}
    {% endblock content %}
  </main>

  <footer>
    <hr>

    {% block footer %}
      <p>A project by <strong><a href="http://armstrongest.com">Gary</a></strong></p>
      <nav>
        <a href="{{ base_url() }}" class="selected">Home</a>
        <a href="{{ path_for('territories') }}">Territories</a>

      </nav>
    {% endblock footer %}
  </footer>

{# page-level style and javascript #}
{% block after_footer %}
{% endblock after_footer %}

</body>
</html>