<!doctype html>

<html lang="en">
<head>
  {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}CTT{% endblock title %}</title>
    <meta name="description" content="Clark Territory Manager">
    <meta name="author" content="Gary Armstrong">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/master.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/global.js"></script>
  {% endblock head %}
</head>

<body>

  {% include 'partials/flash.twig' %}


  <header>
    <h1>Clark Territories</h1>
    <nav>
      <a href="{{ base_url() }}" class="selected">Home</a>
      <a href="{{ path_for('territories') }}">Territories</a>
      <a href="{{ path_for('buildings') }}">Buildings</a>
      {# <a href="{{ path_for('people') }}"></a> #}
    </nav>
  </header>

{#   <div class="emerson">
    {% block hero %}<img src="/images/emerson.jpg" alt="Picture of Ralph Waldo Emerson">{% endblock hero %}
  </div> #}

  <main>
    {% block content %}
    {% endblock content %}
  </main>

  <footer>
    {% block footer %}
      <p>A project by <strong><a href="http://armstrongest.com">Gary Armstrong</a></strong></p>
      <nav>
        <a href="{{ base_url() }}" class="selected">Home</a>
        <a href="{{ path_for('territories') }}">Territories</a>
      </nav>
    {% endblock footer %}
  </footer>


{% block scripts %}
{% endblock scripts %}

</body>
</html>