{% extends 'territories.twig' %}

{% block title %}Territory: {{ territory.title }}{% endblock title %}

{% block content_before %}
	{{ parent() }}
	
{% endblock content_before %}

{% block content %}
	{% if territory %}
		<h2>Territory: {{ territory.title|e }} </h2>
		<h3>Buildings</h3>
		{# <ul class="box-list"> #}
			{% for b in buildings %}
				<h3>
					Address: <a href="{{ path_for('building', {'id': b.id}) }}">{{ b.address|e }}</a> <span class='small quiet'>({{ b.total_people }} people)</span>
				</h3>
			{% else %}
				<h3>No buildings found.</h3>
			{% endfor %}
		{# </ul> #}

	{% else %}
		<p>Sorry, territory not found. View <a href="{{ path_for( 'territories' ) }}">all Territories</a></p>
	{% endif %}
<em>( territory last updated: {{ territory.last_updated|e }} )</em>
{% endblock content %}

{% block actions %}
	<a class="button" href="{{ path_for( 'territories' ) }}">« All territories</a>
	<a class='button' href="{{ path_for('territory_edit', { id : territory.id }) }}">Edit territory {{ territory.title }}</a>
	<a class='button' href="{{ path_for('territory_buildings_add', { id : territory.id }) }}">Add building</a>
	<a class="button" href="{{ path_for('territory_checkout', { id : territory.id }) }}">Check out territory</a>
{% endblock actions%}