{% extends 'territory.twig' %}

{% block title %}Territory: {{ territory.title }}{% endblock title %}

{% block content %}
		<h2>Add Building</h2>
		<form action="/territories/{{ territory.id }}/buildings" method="POST">
			<label for='address'>Street Address:</label>

			<input type='text' class="inline" name="address" autofocus placeholder="2414 Matthaios Way">		
			<input type='submit' name='form_add_building' value="Add building">

			<input type='hidden' name="city" value="Vancouver">
			<input type='hidden' name="province" value='BC'>
			<input type='hidden' name="territory_id" value='{{ territory.id }}'/>

		</form>
		{{ parent() }}
{% endblock content %}

{% block actions %}
	<a class="button" href="{{ path_for( 'territory_details', { id : territory.id } ) }}">« Territory {{ territory.title }}</a>
	<a class='button' href="{{ path_for('territory_edit', { id : territory.id }) }}">Edit Territory {{ territory.title }}</a>

{% endblock actions %}