{% extends 'territories.twig' %}
{% block title %}Territory: {{ territory.title }} Details{% endblock title%}

{% block afterfooter %}
	<style>
	main { 
		position: relative;
		top: 0; 
	}
	</style>
{% endblock afterfooter %}

{% block content %}

	<h1>
		Territory: <a href="{{ path_for( 'territory_edit', {'id': territory.id} ) }}">{{ territory.title }}</a>
	</h1>
	{% for b in territory.ownBuilding %}
		<article class="building">
		<h2>Address: <a href="{{ path_for('building', {id : b.id } ) }}">{{ b.address }}</a></h2>
			{% set people = b.ownPerson %}
			{% set printview = true %}
			{% set legend = true %}
			{% include 'partials/people_table.twig' %}
		</article>
	{% else %}
		<strong><a href="{{ path_for( 'territory', {'id': territory.id} ) }}">« Back to Territory {{ territory.title }}</a></strong>
		<p>Sorry, no buildings in territory.</p>
	{% endfor %}

{% endblock content %}