{% extends 'territories.twig' %}

{% block title %}Territory: {{ territory.title }}{% endblock title %}

{% block content_before %}
	<strong><a href="{{ path_for( 'territories' ) }}">« All Territories</a></strong>
{% endblock content_before %}

{% block content %}
	{% if territory %}
		<h2>Territory: {{ territory.title|e }} </h2>
		<strong>Buildings</strong>
		<ul class="box-list">
			{% for b in buildings %}
				<li>
					<a href="{{ path_for('building', {'id': b.id}) }}">{{ b.address|e }}</a>
				</li>
			{% else %}
				<li><p>No buildings found.</p></li>
			{% endfor %}
		</ul>

	{% else %}
		<p>Sorry, territory not found. View <a href="{{ path_for( 'territories' ) }}">all Territories</a></p>
	{% endif %}
<em>( territory last updated: {{ territory.last_updated|e }} )</em>
{% endblock content %}

{% block actions %}
	<a class='button' href="{{ path_for('territory_edit', { id : territory.id }) }}">Edit Territory {{ territory.title }}</a>
	<a class='button' href="{{ path_for('territory_details', { id : territory.id }) }}">Print {{ territory.title }} details</a>
	<a class='button' href="{{ path_for('territory_buildings_add', { id : territory.id }) }}">Add Building</a>
{% endblock actions%}